.venv/
venv/
env/

__pycache__/
*.py[cod]
*$py.class
*.so
.Python

*.egg-info/
dist/
build/

/.env.example
/.env
.env.local
.env
*.log

db.sqlite3
staticfiles/
media/*
!media/.gitkeep

.idea/
.vscode/
*.swp
.DS_Store

TODO
