<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{% url 'reservations:lista' %}">Agendamento de Salas</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'reservations:lista' %}">Reservas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'rooms:lista' %}">Salas</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <span class="navbar-text me-3">{{ user.get_full_name|default:user.username }}</span>
                </li>
                <li class="nav-item">
                    <form method="post" action="{% url 'accounts:logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-light btn-sm">Sair</button>
                    </form>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:login' %}">Entrar</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
